/*** Posts ***/
.post {
	background-color: white;
	border-bottom: 1px solid grey;
	min-height: 100px;
	overflow: auto;
	padding-bottom: 5px;
}

.userProfileContainer {
	position: relative;
	width: 80px;
	float:left;
}

.userProfile {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.postContent {
	margin: 0px;
	width: 520px;
	float: left
}

.postContentPicture {
	max-width: 300px;
}

/** Some font color classes for you to use. **/

.linkColor {
	color: #5088e9;
}