/*** CSS for home page ***/
/* imports for fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Yanone+Kaffeesatz:wght@300&display=swap');

/*** Removes default style from links ***/
a {
    text-decoration: none;
    color: black;
}

body {
	background-color: white;
	margin: 0;
}

.textDecoration{
    text-decoration: underline;
    font-family: 'Lobster', cursive;
}

/*** top Menu ***/

.logoContainer {
	position: relative;
	width: 80px;
    height: 20px;
	float:left;
}

.logo {
	margin-left: 20px;
	margin-right: 10px;
	border-radius: 50%;
    height: 45px;
    width: 45px;
    
}

#topMenu {
    padding-bottom: 60px;
	background-color: white;
    overflow:hidden; /*new added*/
}

#topMenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(221, 218, 218);
    position:fixed;
    width: 100%;
}

#topMenu li {
    float:left;
}

#topMenu li a{
    display: block;
    color: black;
    text-align: center;
    padding: 15px 20px 15px 20px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size:small;
}

#topMenu li:last-child {
    float:right;
    background-color: rgb(85, 124, 87);
}


#topMenu li a:hover {
    background-color: rgb(147, 190, 149);
  }

.active {
    background-color: rgb(85, 124, 87);
  }


#topMenu input[type=text] {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    background-image: url(https://cdn.pixabay.com/photo/2017/11/10/05/24/magnifying-glass-2935435__340.png);
    background-position: 5px 5px;
    background-size: 6.5%;
    background-repeat: no-repeat;
  }  

  
  

/*** recommendation ***/
#recommendation {
	padding: 5px;
	background-color: rgb(147, 190, 149);
}

#recommendation ul li{
    margin-right: 20px;
	font-weight: bold;
	list-style: none; /* Gets rid of list bullet points */
	text-align: center;
	display: inline-block;
}

#time{
    margin-left:8px;
    font-family: 'Lobster', cursive;
}

.bookTitle {
	padding: 3px;
	background-color: white;
    border: 2px solid rgb(85, 124, 87);
    border-radius: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.bookId{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.bookAuthor{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:large;
}

.bookCover {
	margin-left: 10px;
	margin-right: 10px;

    width: 70%;
    height: 70%;
}


/*** Posts ***/
#posts{
    margin-top: 20px;
    padding: 5px;
	background-color: rgb(147, 190, 149);
}

#posts ul li{
    list-style-type: none;
	display: block;
    margin-left: 50px;
}

.post {
	min-height: 100px;
	overflow: auto;
	padding-bottom: 5px;
    background-color: white;
    margin-top:10px;
    border: 2px solid rgb(85, 124, 87);
    border-radius: 20px;
    width: 600px;
}

.postId{
    float:right;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.userProfileContainer {
    margin-top: 20px;
	width: 80px;
	float:left;
}

.userProfile {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.postTime{
    font-family: 'Lobster', cursive;
    float:right;
}

.postContent {
	margin-top: 20px;
	width: 400px;
	float: left;
}

.postContent h4{
    font-family: 'Lobster', cursive;
}

.postContentPicture {
	max-width: 400px;
}

.like{
    margin-top:2px;
    margin-bottom: 3px;
    background-color: rgb(85, 124, 87);
    color: white;
    font-size: large;
    float:right;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border: 2px solid rgb(85, 124, 87);
    border-radius: 20px;
}

.like:hover {
    background-color: rgb(147, 190, 149);
  }

.collect{
    margin-top:2px;
    margin-bottom: 3px;
    background-color: rgb(85, 124, 87);
    color: white;
    font-size: large;
    float:right;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border: 2px solid rgb(85, 124, 87);
    border-radius: 20px;
}

.aftercollect{
    margin-top:2px;
    margin-bottom: 3px;
    background-color: rgb(147, 190, 149);
    color: white;
    font-size: large;
    float:right;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border: 2px solid rgb(85, 124, 87);
    border-radius: 20px;
}


.fa-heart {
    color:rgb(85, 124, 87);
} 

/** Some font color classes for you to use. **/

.linkColor {
	color: #5088e9;
}
