@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Noto+Serif+Display:ital@1&display=swap');
.fancychar2 {
    font-family: 'Noto Serif Display', serif;
    float:left;
    margin-top: 20px;
    margin-left:20px;
    color:#5088e9;
    font-size:large;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
	border-style: solid;
	border-color: white;
	border-radius: 50%;
}


/*** Login ***/
.Login{
    position:absolute;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    width:80%;
    padding: 20px 20px;
    border-radius: 4px;
    background-color: #ccc;
    
}

.Login .form h2{
    text-align: center;
    color:white;
    margin:20px;
    font-family: 'Noto Serif Display', serif;
    font-size: xx-large;
    background:grey;
}
.Login .form .form-element{  
    margin:5px 15px;
    text-align: center;
}

.Login .form .form-element label{  
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: large;
}

.Login .form .form-element button{  
    font-family: 'Noto Serif Display', serif;
    font-size: larger;
    width:50%;
    height: 40px;
    margin-top: 20px;
    color: white;
    background-color: grey;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.Login .form .form-element button:hover {
    background-color: black;
  }

.Login .form .form-element a{ 
    display: block;
    text-align: right;
    font-weight: 600;
 }

 /*
    * Footer
 */
 .blog-footer {
    padding-top:50px;
    padding-bottom:10px;
    color: white;
    text-align: center;
    background-color: #ccc;
    border-bottom: 2px solid #e5e5e5;   
  }
 