/*** Books ***/
#recommendation {
	padding: 5px;
	background-color: rgb(147, 190, 149);
}

#recommendation ul li{
    margin-right: 20px;
	font-weight: bold;
	list-style: none; /* Gets rid of list bullet points */
	text-align: center;
	display: inline-block;
}

.bookTitle {
	padding: 3px;
	background-color: white;
}


.bookCover {
	margin-left: 10px;
	margin-right: 10px;

    width: 70%;
    height: 70%;
}
