@import "../HomeAndLogin/home.css";

#userMainPage {
    padding: 5px;
    background-color: white;
}

#userInfo {
    width: 300px;
	margin-left: 80px;
	display: inline-block;

}

.profilePicContainer {
	width: 300px;

}

.profilePic {
    width: 300px;
	border-radius: 50%;
	height: 300px;
	margin-right: 40px;
	margin-top: 50px;
}

#userName {
	font-size: 300%;
	font-weight: bold;
	margin-top: 30px;
	width: 300px;
	
}

#id {
	margin-top: 20px;
	font-size: 150%;
	color: rgb(63, 63, 63);
}

#signature {
	margin-top: 20px;
	font-size: 150%;

}

#profileButton {
	font-size: 150%;
	margin-top: 20px;
	margin-bottom: 200px;
}


#menu {
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	margin-left: 80px;
	margin-top: 20px;
}

#menubar ul {
	margin: 0px;
	padding: 3px;
	margin-top: 10px;
	list-style: none; 
	margin-left: 10px;
}

#menubar ul li {
	margin-right: 40px;
	display: inline-block;	
}

.menuButton {
    font-weight: bold;
	font-size: 150%;
	background-color: white;
}

.menuButtonSelected {
    font-weight: bold;
	font-size: 150%;
	background-color: rgb(130, 131, 130);
}

#contents{
	padding: 5px;
	margin-top: 40px;
	
}

#contents ul {
	text-align: left;
	margin-top: 10px;
	background-color: white;
	border: 2px solid rgb(71, 71, 71);
    border-radius: 20px;
    width: 700px;	
	overflow: auto;
	list-style: none; 
}

#contents ul li {
	margin-bottom: 20px;
	margin-top: 10px;
}

.userPost {
	margin-left: 20px;
}

.contentName {
	font-weight: bold;
	font-size: 150%;
	float: left;
	font-family: 'Lobster', cursive;
}

.contentID {
	float:left;
	margin-left: 10px;
	font-size: 150%;
	color: darkgray;
	font-family: 'Lobster', cursive;
}

.contentTime {
	font-family: 'Lobster', cursive;
    float: right;
	margin-right: 50px;
}

.contentContext {
	margin-top: 10px;
	width: 650px;
	float: left;
	margin-bottom: 15px;
	display: block;
}

.contentPic {
    display: block;
}

.fa-heart {
    color:rgb(66, 66, 66);
	margin-top: 10px;
	float: left;
} 

.likeButton {
	margin-top: 7px;	
	float: right;
	margin-right: 540px;
	font-size:100%;
	border-radius: 10px;
	background-color: rgb(132, 133, 132);
	margin-bottom: 10px;
}

/** Some font color classes for you to use. **/
.linkColor {
	color: #5088e9;
}

.green {
	color: green;
}

.red {
	color: red;
}

